* {
  font-family: 'Montserrat', sans-serif;
  background-color: lavender;
}

a {
  padding: 10px;
}

nav {
  padding: 10px;
}

a:hover {
  background-color: pink;
}

div.adoptableCats {
  padding: 10px;
  height: auto;
  flex-wrap: wrap;
  display: inline-flex;
}

.cat-adoption-form {
  border-style: solid;
    display: flex;
    justify-content: center;
    width: 100%;
}
.cat-adoption-form input {
  /* margin-right: 2rem;
  flex: 1; */
  padding: 10px;
  margin: 10px;
}
div.cafeCats {
  padding: 10px;
  height: auto;
  flex-wrap: wrap;
  display: inline-flex;
}

div.cat, img {
  width: 300px;
}

div.cat {
  border-style: solid;
  border-color: pink;
  padding: 10px;
  margin: 5px;
  width: 300px;
  display: grid;
}

.cafeCats {
  padding: 20px;
}

.searchBar {
  padding: 10px;
}

header {
  text-align: right;
  font-size: 40px;
}

div.BookContainer {
  padding: 10px;
  height: auto;
  flex-wrap: wrap;
  display: inline-flex;
}

div.BookCard img {
  height: 300px;
  width: auto;
}

.BookCard {
  height: auto;
  width: 250px;
  padding: 10px;
}


.cafeCatImg {
  max-width: 250px;
  max-height: 250px;
}

.info {
  border: 5px solid #000000;
  margin: 0px;
  padding: 11px;
}

.surveyButton {
  margin: 0;
  position: relative;
}

.bookCover {
  width: 100%;
  height: 100%;
}

.parentContainer {
  position: relative;
  background: #FFE;
  padding: 1em 1em;
}

.twoColumnCenteredGrid {
  text-align: center;
}

.row {
  display: flex;
}