* {
  font-family: 'Montserrat', sans-serif;
  background-color: #86afb2;
}

header {
  text-align: center;
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#appTitle {
  margin-top: 4.5%;
  margin-left: 3%;
  color: #f0ead1;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

#welcomeCat {
  margin-top: 0%;
  margin-left: 0%;
  border: 2px solid black;
}

a:link {
  padding: 10px;
  color: rgb(2, 2, 180);
}

a:visited {
  color: #4e1d04;
}

nav {
  padding: 10px;
}

a:hover {
  background-color: #dcbe87;
}

div.cafeCats {
  padding: 20px;
  height: auto;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
}

div.cat, img {
  width: 300px;
}

div.cat {
  border-style: solid;
  border-color: #000000;
  padding: 20px;
  margin: 5px;
  width: 300px;
  display: grid;
}

.cafeCats {
  padding: 20px;
}

.searchBar {
  text-align: center;
  margin-top: 0%;
  margin-bottom: -1%;
  padding: 20px;
}

.searchBar input {
  background-color: #f0ead1;
}


#navBar {
  margin-top: 1%;
  width: 100%;
}

div.bookContainer {
  padding: 10px;
  height: auto;
  margin-left: 40px;
  margin-right: 40px;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
}

.bookCard img {
  height: 300px;
  width: auto;
}

.bookTitle {
  width: auto;
}

img.bookCover {
  height: 500px;
  max-height: 2500px;
  width: auto;
}

.bookImg {
  text-align: center;
}

.bookCard {
  height: auto;
  width: 250px;
  padding: 20px;
  border: 2px solid #000000;
}

#viewDetails {
  position: absolute;
  margin-left: 5px;
  margin-bottom: 5px;
}

#backToBooks {
  margin-left: -90%;
}

.cafeCatImg {
  max-width: 250px;
  max-height: 250px;
}

.info {
  border: 5px solid #000000;
  margin-left: 40px;
  margin-right: 40px;
  padding: 20px;
}

.surveyButton {
  margin: 0;
  position: relative;
}

.bookCover {
  width: 100%;
  height: 100%;
}

.parentContainer {
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
  position: relative;
  border: 2px solid black;
  padding: 20px;
}

#plot {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 3%;
}


.row {
  display: flex;
}

div.adoptableCats {
  padding: 20px;
  height: auto;
  max-width: 90%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
}

.cat-adoption-form {
  margin-left: 40px;
  margin-right: 40px;
  border-style: solid;
  display: flex;
  justify-content: center;
}

.cat-adoption-form input {
  padding: 10px;
  margin: 10px;
  background-color: #f0ead1;
}

#inquiry_response {
  text-align: center;
  margin-bottom: 0%;
}